*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #011735;
    font-family: Lexend;
    width: 80%;
    margin: auto;
}

header{
    background-image: url('header-picture.png');
    background-position: center;
    height: 200px;
    color: #fff;
}

header h1{
    font-weight: bold;
    padding-top: 80px;
    padding-left: 100px;
}

footer{
    background-image: url('header-picture.png');
    background-position: bottom;
    color: #fff;
    padding: 3px;
}

main{
    background-color: #070707;
}

.nav-link:hover{
    color: #011735;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.gradient-br {
    color: #fff;
    border: 5px solid #0000;
    padding: 20px;
    justify-content: center;
    
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
          var(--angle),
          #070707,
          #687aff
        ) border-box;
    animation: 15s rotate linear infinite;
  }

.gradient-br h2, .gradient-br p {
    padding: 10px;
    text-align: justify;
    margin: 5px;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

.fokep1{
  margin: 20px;
    width: 50%;
    float: right;
}

.fokep2{
  margin: 20px;
    width: 50%;
    float: left;
}

.tablazat th, td{
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.tablazat{
    margin: 20px auto;
    max-width: 100%;
    overflow-x: auto;
}

.tablazat tr:nth-child(2n){
    background-color: #687aff;
}

.kepekold img{
    margin: 10px auto;
    width: 100%;
    height: auto;
}

.carouselegesz{
  margin: auto;
  width: 70%;
}


  