*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #011735;
    font-family: Lexend;
    width: 80%;
    margin: auto;
}

header{
    background-image: url('header-picture.png');
    background-position: center;
    height: 200px;
    color: #fff;
}

header h1{
    font-weight: bold;
    padding-top: 80px;
    padding-left: 100px;
}

footer{
    background-image: url('header-picture.png');
    background-position: bottom;
    color: #fff;
    padding: 3px;
}

main{
    background-color: #070707;
}

.nav-link:hover{
    color: #011735;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.gradient-br {
    color: #fff;
    border: 5px solid #0000;
    padding: 20px;
    justify-content: center;
    
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
          var(--angle),
          #070707,
          #687aff
        ) border-box;
    animation: 10s rotate linear infinite;
  }

.gradient-br h2, .gradient-br p {
    padding: 10px;
    text-align: justify;
    margin: 5px;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

.koszontes{
  color: #011735;
  height: fit-content;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #687aff, #fff, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.koszontes a{
  font-size: medium;
  text-decoration: none;
  background-color: black;
  color: #fff;
  margin: 15px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: #687aff 0px 0px 10px;
  transition: all 0.3s ease-in-out;
}

.koszontes a:hover{
  background-color: #687aff;
  color: #000;
  box-shadow: #fff 0px 0px 10px;
  transition: all 0.3s ease-in-out;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fokep{
  margin: 20px;
  width: 50%;
}

img{
  border: 2px solid #687aff;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 20px auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #687aff}

.kepekold img{
  margin: 15px auto;
  width: 100%;
}


.carouselegesz{
  margin: auto;
  width: 70%;
}

.icon{
  width: 25px;
  border: none;
}
.nagyobb{
  font-size: 140%;
}
.kozep{
  text-align: center;
}
.k{
  width: 40%;
  margin: auto;
  padding: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #687aff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #687aff;
  cursor: pointer;
}
.szin{
  width: 5%;
  border: 3px #687aff solid;
  border-radius: 5%;
}